# Secretos (cualquier carpeta del monorepo)
.env
.env.*
!.env.example

# Por si alguien corre npm install en la raíz por error
node_modules/
/package-lock.json

# Sistema
.DS_Store
Thumbs.db

# IDE
.idea/
*.sw?
